@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4">Welcome to Cake Shop</h1>
        <h3>Cakes is for you and me!</h3>
    </div>
    

    <img class="mainImage" src="~/Images/cake_bg.jpg" />
    <br/>
    <a class="btn btn-primary mt-1" asp-page="Forms/CustomCake" >Give me a Cake!</a>
</div>

